
/* ==== Scroll down to find where to put your styles :) ==== */

/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; text-decoration: none; }

/*
    // ========================================== \\
   ||                                              ||
   ||               Your styles !                  ||
   ||                                              ||
    \\ ========================================== //
*/



.cc{ width: 940px; margin-left: auto; margin-right: auto; position: relative; }


header{
    background: url(img/head.jpg) 50% 0 scroll;
    height: 165px;
}

    header .cc{}


    header nav{ height: 30px; position: absolute; z-index: 200; right: 0; top: 35px; width: 540px; }

    #topnav{width: 100%; font-size: 16px; }
        #topnav > li { display: inline-block; position: relative; vertical-align: top; list-style: none; width: auto; color: #ffda0e; margin-left: 40px;}
            #topnav > li a{  padding: 4px 16px 4px 0px; display: block; text-decoration: none; color: #ffda0e; font-weight: bold;}

        #topnav > li:hover a{ color: #fff; }



            #topnav > li ul { background: #130835; position: absolute; padding: 10px; width: 170px; font-size: .8em; display: none; opacity: 0; left: -10px;
                border-radius: 2px;
            }
            #topnav > li:last-child ul{right: 0; left: auto; width: 150px;}
            #topnav > li:first-child{margin-left: 0; }
            #topnav > li:hover > ul { display: block; opacity: 1; }
            #topnav > li:hover a{ color: #fff; }
            #topnav li ul a:hover{ color: #ffda0e; }

            #topnav li ul a { border-top: 1px solid #5d4884; display: block; padding: 10px 0; font-size: 14px; font-weight: normal;}

            #topnav li ul li:first-child a { padding-top: 0; border-top: 0; }

    #logo{ position: absolute; top: 15px; left: 15px; width: 112px; height: 125px; background-image: url(img/logo.png); }

.home header{ height: 548px;  }


#next-match-push{ padding: 23px 0 12px; background: #130835; height: 68px; }
    #next-match-push .title{ float: left; width: 102px; padding-right: 40px; border-right: 1px solid #5d4884; color: #6790b8; height: 56px; font-size: 18px; padding-top: 12px;  }

    #next-match-push .cta{ float: left; width: 102px; padding-left: 21px; border-left: 1px solid #5d4884; color: #ffda0e; font-size: 14px; display: block; height: 53px; padding-top: 15px; }

    #next-match-push article { width: 638px; float: left; text-align: center; padding-top: 12px; }
        #next-match-push article .who { font-size: 18px; color: #ffda0e; margin-bottom: 8px; }
            #next-match-push article .who .vs{ color: #fff; color: rgba(255,255,255, .5); display: inline-block; margin: 0 8px; }
        #next-match-push article .meta{ font-size: 14px; color: white; }
            #next-match-push article .meta .slash{ color: #5d4884; display: inline-block; margin: 0 5px; }



footer{  }
    footer .top{ position: relative; display: none; }
    #partners{
        height: 164px; width: 940px; background-image: url('img/partners.jpg'); margin-top: 55px;
    }


    .home footer .top{ display: block; }
    footer .bottom{ background: url(img/footer.jpg) 50% 0 repeat-x; height: 351px; margin-top: 30px; position: relative; }
        footer .bottom .cc{ position: relative; height: 351px; }






#to-fb{ width: 430px; height: 41px; position: absolute; top: 25px; left: 35px; }

#footernav {position: relative; top: 111px; left: 139px;}

#footernav > li{ height: 120px; width: 135px; display: inline-block; vertical-align: top; padding-left: 25px; border-left: 1px solid #5d4884; border-left-color: rgba(255,255,255, .2) }

    #footernav > li > a{ display: block; text-decoration: none; color: #ffda0e; font-weight: bold; margin-bottom: 10px; font-size: 16px; }

    #footernav ul li a, #footermisc a{ color: #fff; text-decoration: none; font-size: 12px; line-height: 18px; }
    #footernav ul li a:hover, #footermisc a:hover{ text-decoration: underline; }

    #footermisc, #footercopy{ color: #fff; text-decoration: none; font-size: 12px; line-height: 18px; position: absolute; display: inline-block; bottom: 25px; }

    #footermisc{ right: 0; }



















.left{float: left;}
.right{float: right;}

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
