
/* ==== Scroll down to find where to put your styles :) ==== */

/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; text-decoration: none; }

/*
    // ========================================== \\
   ||                                              ||
   ||               Your styles !                  ||
   ||                                              ||
    \\ ========================================== //
*/



.cc{ width: 940px; margin-left: auto; margin-right: auto; position: relative; }


header{
    background: url(img/head.jpg) 50% 0 scroll;
    height: 165px;
}

    header .cc{}


    header nav{ height: 30px; position: absolute; z-index: 200; right: 0; top: 35px; width: 540px; }

    #topnav{width: 100%; font-size: 16px; }
        #topnav > li { display: inline-block; position: relative; vertical-align: top; list-style: none; width: auto; color: #ffda0e; margin-left: 40px;}
            #topnav > li a{  padding: 4px 16px 4px 0px; display: block; text-decoration: none; color: #ffda0e; font-weight: bold;
                background: transparent url(img/arrow-down.png) 100% 10px no-repeat;
            }

        #topnav > li:hover a{ color: #fff; background: none; }



            #topnav > li ul { background: #592f9d; position: absolute; padding: 10px; width: 170px; font-size: .8em; display: none; opacity: 0; left: -10px;
                border-radius: 2px;

                        box-shadow: 0 1px 7px 1px rgba(0,0,0, .63);
                -webkit-box-shadow: 0 1px 7px 1px rgba(0,0,0, .63);
                   -moz-box-shadow: 0 1px 7px 1px rgba(0,0,0, .63);
                     -o-box-shadow: 0 1px 7px 1px rgba(0,0,0, .63);
            }
            #topnav > li:last-child ul{right: 0; left: auto; width: 150px;}
            #topnav > li:first-child{margin-left: 0; }
            #topnav > li:hover > ul { display: block; opacity: 1; }
            #topnav > li:hover a{ color: #fff; }
            #topnav li ul a:hover{ color: #ffda0e; }

            #topnav li ul a { border-top: 1px solid #5d4884; display: block; padding: 10px 0; font-size: 14px; font-weight: normal;}

            #topnav li ul li:first-child a { padding-top: 0; border-top: 0; }

    #logo{ position: absolute; top: 15px; left: 15px; width: 112px; height: 125px; background-image: url(img/logo.png); }

.home header{ height: 548px;  }


#next-match-push{ padding: 23px 0 12px; background: #130835; height: 68px; }
    #next-match-push .title{ float: left; width: 102px; padding-right: 40px; border-right: 1px solid #5d4884; color: #6790b8; height: 56px; font-size: 18px; padding-top: 12px;  }

    #next-match-push .cta{ float: left; width: 102px; padding-left: 21px; border-left: 1px solid #5d4884; color: #ffda0e; font-size: 14px; display: block; height: 53px; padding-top: 15px; }

    #next-match-push article { width: 638px; float: left; text-align: center; padding-top: 12px; }
        #next-match-push article .who { font-size: 18px; color: #ffda0e; margin-bottom: 8px; }
            #next-match-push article .who .vs{ color: #fff; color: rgba(255,255,255, .5); display: inline-block; margin: 0 8px; }
        #next-match-push article .meta{ font-size: 14px; color: white; }
            #next-match-push article .meta .slash{ color: #5d4884; display: inline-block; margin: 0 5px; }


footer{ margin-top: 120px; }

.home footer{ margin-top: 0; }
    footer .top{ position: relative; display: none; }
    #partners{
        height: 164px; width: 940px; background-image: url('img/partners.jpg');
    }


    .home footer .top{ display: block; }
    footer .bottom{ background: url(img/footer.jpg) 50% 0 repeat-x; height: 351px; margin-top: 30px; position: relative; }
        footer .bottom .cc{ position: relative; height: 351px; }





#wrap{ font-size: 12px; line-height: 1.4em; margin-top: 50px; color: #7f7f7f; color: rgba(0,0,0, .5); margin-bottom: 50px; }

.single #wrap .post-content, .page #wrap .post-content{ color: #404040; color: rgba(0,0,0, .75); font-size: 14px;
    margin-right: 250px;
}

    #wrap a{ text-decoration: underline; color: #592f9d; }
    #wrap a:hover{ text-decoration: none; color: #201741 }

    h1{ font: bold 24px/34px Arial, Helvetica, sans-serif; color: #201741; margin-bottom: 35px; }
    #wrap .preh1{ font: normal 12px/34px Arial, Helvetica, sans-serif; }







#to-fb{ width: 430px; height: 41px; position: absolute; top: 25px; left: 35px; }

#footernav {position: relative; top: 111px; left: 139px;}

#footernav > li{ height: 120px; width: 135px; display: inline-block; vertical-align: top; padding-left: 25px; border-left: 1px solid #5d4884; border-left-color: rgba(255,255,255, .2) }

    #footernav > li > a{ display: block; text-decoration: none; color: #ffda0e; font-weight: bold; margin-bottom: 10px; font-size: 16px; }

    #footernav ul li a, #footermisc a{ color: #fff; text-decoration: none; font-size: 12px; line-height: 18px; }
    #footernav ul li a:hover, #footermisc a:hover{ text-decoration: underline; }

    #footermisc, #footercopy{ color: #fff; text-decoration: none; font-size: 12px; line-height: 18px; position: absolute; display: inline-block; bottom: 25px; }

    #footermisc{ right: 0; }




.article-list article{ float: left; width: 279px; height: 240px; padding-left: 20px; border-left: 1px solid #d0cfd6;  padding-right: 20px; }
    .article-list article:first-child{ padding-left: 0; border-left: 0;  }
    article .date{ color: #594394; text-transform: capitalize; }
    .article-list article h2{ font-size: 18px; line-height: 24px; margin-bottom: 10px; color: #592f9d }
        #wrap .article-list article h2 a{ color: #592f9d; text-decoration: none; }

    #wrap .eventslist article{ height: 120px; }

.read-news-cta{ width: 125px; height: 35px; margin-top: 10px; background-image: url(img/read-more.png); }

#wrap .g_100 .post-content{margin-right: 0; }

.post-content p{margin: 1em 0;}


.g_100{ width: 100%; position: relative; }

.g_50{width: 50%; float: left; position: relative; }

.g_33{ width: 33.3%; float: left; position: relative; }

.space:after{ clear: both; height: 40px; content:" "; zoom:1; display: block;}
.space{zoom: 1;}


.gr{width: 100%; position: relative;}
.gr .gr1{ width: 38%;  margin-left: 62%; position: relative; }
.gr .gr16{ width: 62%; float: left; position: relative; }


ul.linker{ font-size: 18px; margin-left: 0; }
    ul.linker li{ margin-bottom: 8px; list-style: none; }
        ul.linker li a:after{ content: attr(title); display: inline-block; color: #7f7f7f; font-style: italic; text-decoration: none; margin-left: 10px; font-size: 16px; }

.page-slug-regulile-jocului-de-rugby #wrap .post-content a{
    font-size: 18px; display: block; margin-bottom: 8px;
}

.page-slug-regulile-jocului-de-rugby #wrap .post-content a:after{
    content: attr(title); display: inline-block; color: #7f7f7f; font-style: italic; text-decoration: none; margin-left: 10px; font-size: 16px;
}

.player-list{margin-right: -25px;}

.player-list .player{ float: left; width: 290px; height: 290px; margin-right: 25px; }

    #wrap .player-list .player a{ position: relative; width: 290px; height: 290px; display: block; text-decoration: none; }
        .player-list .player a b{ position: absolute; left: 10px; background-color: #592f9d; bottom: 10px; width: 250px; padding: 15px; height: 50px;
                text-align: right; color: #fff; display: block;
                transition: all .2s; -o-transition: all .2s; -webkit-transition: all .2s; -moz-transition: all .2s; -ms-transition: all .2s;
            }
            .player-list .player a b span{ display: block; padding: 4px 0; }
            .player-list .player a b .name{ font-size: 16px; border-bottom: 1px solid #7f7f7f; transition: all .2s; -o-transition: all .2s; -webkit-transition: all .2s; -moz-transition: all .2s; -ms-transition: all .2s;
                text-decoration: none;
            }
            .player-list .player a b .position{ font-size: 12px; text-transform: uppercase; text-decoration: none;}


            .player-list .player a b:before{ width: 10px; margin-left: -10px; background-color: #5d4884; height: 80px; content: " "; position: absolute; left: 0; bottom: -5px;
                -ms-transform: skew(0, -45deg); -o-transform: skew(0, -45deg); -webkit-transform: skew(0, -45deg); -moz-transform: skew(0, -45deg); transform: skew(0, -45deg);
                transition: all .2s; -o-transition: all .2s; -webkit-transition: all .2s; -moz-transition: all .2s; -ms-transition: all .2s;
            }

            .player-list .player a:hover b{ background: #01b0f0; color: #fff; }

            .player-list .player a:hover b .name{ border-color: #01b0f0 }
            .player-list .player a:hover b:before{ background: #0191c6; }


.single .attachment-player-thumbnail{ width: 290px; margin: 20px auto 0; display: block; }


.panes{ margin-top: 50px; }

    .panes .pane{ width: 460px; height: 480px; background: url(img/panes.jpg) 0 0 no-repeat; float: left; position: relative;  }

    .panes.full .pane{ width: 940px; margin-bottom: 20px; }

    .panes.fat .pane { background: url(img/pane-fat.jpg) repeat; height: auto; padding-bottom: 30px; }

    .panes .pane + .pane{ margin-left: 20px; background-position: 100% 0; }

        .panes .pane .bottom{position: absolute; bottom: 0; height: 67px; border-top: 1px solid #140d34; width: 460px; }

        .panes .pane .top{ padding: 20px 35px; height: 45px; }

        .panes .pane h3{ color: #fff; font-size: 24px; font-weight: bold; }

        .panes .pane p{ font-size: 14px; color: #fff; line-height: 22px; margin-top: 5px; }

        .panes .pane ul, .panes .pane ol, .panes .pane table{ margin: 0;  color: #fff; font-weight: bold; font-size: 14px; width: 100%; }

        .panes .pane ol li { list-style: decimal inside; }

            .panes .pane li{ color: #fff; padding-left: 35px; padding-right: 35px; display: block; font-weight: bold; font-size: 14px;}

            .panes .pane td{ color: #fff; font-weight: bold; font-size: 14px; line-height: 41px; height: 41px; }

            .panes.fat .pane td{ padding: 10px 5px; }

            .panes .pane ul li{ padding-top: 20px; padding-bottom: 20px; }
                .panes .pane ul li span{ display: block }
                    .panes .pane ul li span.score{ font-size: 18px; padding-top: 10px; }

            .panes .pane ol li{ line-height: 41px; }
                .panes .pane ol li.us{ background-color: rgba(255,255,255, .1); }

                #wrap .panes .pane tr.us td{ background-color: rgba(255,255,255, .1); }


            .panes .pane li:nth-child(odd), .panes .pane tr:nth-child(even) td{ background-color: rgba(0,0,0, .3) }

            .panes .pane li .nth{ font-weight: normal; display: inline-block; width: 15px;}

        .panes .pane td.nth{ width: 45px; text-align: right; padding-right: 5px; font-weight: normal; }
        .panes.fat .pane .when{ width: 135px; text-align: right; padding-right: 15px; padding-left: 10px; font-weight: normal; font-size: 12px; }

        .panes .pane td.teams{ line-height: 24px; }
            #wrap .panes .pane td.teams a{ color: #aaa; font-size: 12px; font-weight: normal; }
                #wrap .panes .pane td.teams a:hover{ color: #fff; }
        .panes .pane td.where{ width: 200px; }

        .panes.fat .pane  .score{ line-height: 24px;}
        .panes.fat .pane  .score .at-break{ font-weight: normal; font-size: 12px; }

        .panes .pane td.games, .panes .pane td.wins, .panes .pane td.draws, .panes .pane td.losses, .panes .pane td.bonus{ width: 80px; font-weight: normal; }
        .panes .pane td.esv{ font-weight: normal; }

        .panes .pane th{ padding-bottom: 20px; font-weight: normal; text-align: left; }

        .panes .pane .ir { margin-top: 19px; margin-left: 33px; height: 30px; }
        .view-all-results-cta{ width: 176px; background-image: url('img/view-all-results.png') }
        .view-all-rankings-cta{ width: 189px; background-image: url('img/view-all-rankings.png') }




#homepage-slider{ position: absolute; top: 159px; width: 928px; height: 321px; border: 6px solid #130835; background: #130835; left: 50%; margin-left: -470px;}

    #homepage-slider .slide{ position: absolute; top: 0; left: 0; width: 928px; height: 321px; }
        #homepage-slider .slide .text-wrap{ position: absolute; bottom: 0; width: 858px; background: #000; background: rgba(0,0,0, .5); padding: 25px 35px; }
        #homepage-slider .slide .text{ font-weight: bold; font-size: 18px; color: #fff; width: 440px; }

        #homepage-slider .slide + .slide {display: none;}


    #homepage-slider .ir{ position: absolute; top: 50%; margin-top: -12px; width: 15px; height: 25px; }
    #homepage-slider .next{ background-image: url('img/arrow-right.png'); right: -26px; }
    #homepage-slider .prev{ background-image: url('img/arrow-left.png'); left: -26px; }


#greeter{ width: 640px; margin-bottom: 50px; font-size: 14px; font-weight: bold; line-height: 24px; color: #000; display: none; }


.left{float: left;}
.right{float: right;}

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
